
body { 
        font-family: Arial;
        color: grey;
    }
    h1 {
        border-bottom: 1px solid black;
    }
em {
  font-family: "Cascadia Mono";
    }
html {
  font-size: 16px; 
}

p {
  font-size: 2rem;
}


body{
	background-color: rgb(218, 153, 194);
	color: rgb(156, 158, 49);
	color: #4169E1CC;
	color: rgba(196, 194, 191, 0.8);
	color: #2775b6CC;
}