

.allcontent {
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;
}

.allcontent {
  width: 1200px;
  margin-left: auto;
	margin-right: auto;
  /* height: 201px;
  padding-bottom: 20px; */
}

.z1 {
  background-color: #822433;
  /*padding: 0px;*/
  /* display: inline-block; */
  width: 150px;
  height: 160px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.z4word a:link {
  color: #fff;
}

.z1 img {
  width: 150px;
  height: 105px;
}

.z2 {
  display: inline-block;
  background-color: #c54c00;
  width: 150px;
  height: 160px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.z2 img {
  width: 150px;
  height: 105px;
}

.z3 {
  display: inline-block;
  background-color: #3e6041;
  width: 150px;
  height: 160px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.z3 img {
  width: 150px;
  height: 105px;
}

.z4 {
  display: inline-block;
  background-color: #c54c00;
  width: 150px;
  height: 160px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.z4 img {
  width: 140px;
  height: 105px;
}

.z4word {
  width: 140px;
  margin-left: auto;
	margin-right: auto;
}