.kuai1jia2 {
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  color: #fff;
  font-size: 17px;
  line-height: 16px;
}

.allcontent {
  width: 1200px;
  margin-left: auto;
	margin-right: auto;
}

.z1,.z2,.z3,.z4,.z5,.z6 {
  display:block;
  width: 170px;
  height: 180px;
  padding-top: 20px;
  padding-bottom: 30px;
  float: left;
}

.z1word,.z2word,.z3word,.z4word,.z5word,.z6word {
  width: 140px;
  padding: 20px 0px 0px 0px;
  margin-left: auto;
	margin-right: auto;
}

.z1 {
  background-color: #822433;
}

a {
  text-decoration: none;
  color:#ffffff;
}

a:hover {
  border-bottom: 1px solid #ffffff;
}

.huizhang :hover ,.xueshihuizhang :hover,.xueshimao :hover,.shou :hover,.suo :hover,.yingwen :hover {
  text-decoration: none;
  border-bottom: none;
}

.z1 img,.z2 img,.z3 img,.z4 img,.z5 img,.z6 img {
  width: 150px;
  height: 105px;
}

.z2 {
  background-color: #c54c00;
}

.z3 {
  background-color: #3e6041;
}

.z4 {
  background-color: #c54c00;
}

.z5 {
  background-color: #756f6f;
}

.z6 {
  background-color: #756f6f;
}

.z1 {
  margin: 10px 10px 10px 0px;
}

.z6 {
  margin: 10px 0px 10px 10px;
}
.z2,.z3,.z4,.z5 {
  margin: 10px;
}

.tu1 img,.tu2 img,.tu3 img {
  height: 300px;
  width: 360px;
}

.tu1,.tu2,.tu3 {
  display: block;
  float: left;
}

.tu1 img {
  padding: 0px 10px 10px 0px;
}

.tu2 img {
  padding: 0px 10px 10px 10px;
}

.tu3 img {
  padding: 0px 0px 10px 10px;
}

/* .SAP {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
} */

.kuai3 {
  color: #333333;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  line-height: 16px;
}

h1 {
  font-size: 18px;
  font-family: inherit;
  line-height: 16px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.biao1 {
  width: 240px;
  height:269px;
  background-color: #c54c00;
  display: block;
  padding: 20px;
  float: left;
}