body {
  width: 1200px;
  margin-left: auto;
	margin-right: auto;
}

.allcontent {
  width: 1200px;
  margin-left: auto;
	margin-right: auto;
}

.kuai1jia2 {
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  color: #fff;
  font-size: 17px;
  line-height: 16px;
}

.z7,.z8,.z9,.z10,.z11,.z12 {
  display:block;
  width: 170px;
  height: 180px;
  padding-top: 20px;
  padding-bottom: 30px;
  float: left;
}

.z7word,.z8word,.z9word,.z10word,.z11word,.z12word {
  width: 140px;
  padding: 20px 0px 0px 0px;
  margin-left: auto;
	margin-right: auto;
}

.z7 {
  background-color: #822433;
}

a {
  text-decoration: none;
  color:#ffffff;
}

a:hover {
  border-bottom: 1px solid #ffffff;
}

.huizhang :hover ,.xueshihuizhang :hover,.xueshimao :hover,.shou :hover,.suo :hover,.yingwen :hover {
  text-decoration: none;
  border-bottom: none;
}

.z7 img,.z8 img,.z9 img,.z10 img,.z11 img,.z12 img {
  width: 150px;
  height: 105px;
}

.z8 {
  background-color: #c54c00;
}

.z9 {
  background-color: #3e6041;
}

.z10 {
  background-color: #c54c00;
}

.z11 {
  background-color: #756f6f;
}

.z12 {
  background-color: #756f6f;
  margin: 10px 0px 10px 10px;
}

.z7 {
  margin: 10px 10px 10px 0px;
}

.z8,.z9,.z10,.z11 {
  margin: 10px;
}

.tu1 img,.tu2 img,.tu3 img {
  height: 300px;
  width: 360px;
}

.tu3 {
  height: 300px;
  width: 360px;
}

.tu1,.tu2,.tu3 {
  display: block;
  float: left;
  padding-top: 20px;
}

.tu1 {
  margin: 0px 10px 10px 0px;
}

.tu2 {
  margin: 0px 10px 10px 10px;
}

.tu3 {
  margin: 0px 0px 10px 10px;
}

.lingdai {
  position: relative;
  /* background-image: url(images/31542481691_59e10b596b_o.jpg); */
}

.lingdai1 {
  position: relative;
  right: 40px;
  bottom: 170px;
  font-size: 36px;
  line-height: 54px;
}

.lingdai1 :hover {
  text-decoration: none;
  border-bottom: none;
  border-bottom: 4px solid #175286;
}

.kuai3 {
  color: #333333;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  line-height: 16px;
  display: block;
  float: left;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.biao1,.biao2,.biao3,.biao4 {
  width: 225px;
  height:220px;
  padding: 20px;
  margin-top: 10px;
  float: left;
}

.biao1 {
  background-color: #c54c00;
  margin-right: 10px;
}
.biao2 {
  background-color: #006778;
  margin-left: 10px;
  margin-right: 10px;
}
.biao3 {
  background-color: #3e6041;
  margin-left: 10px;
  margin-right: 10px;
}
.biao4 {
  background-color: #5d5949;
  margin-left: 10px;
}

.biaoti1,.biaoti2,.biaoti3,.biaoti4 {
  font-size: 9px;
  font-family: inherit;
  line-height: 1.5em;
}

h1 {
  font-weight: lighter;
  font-weight: 300;
}

